body {
	height:auto;
	min-height:100%;
}
.popumbox {
	padding-bottom: 0px;
	padding-top:25px;
	display:none;
}
a#close-button {
    /*right: -9px;
    top: -9px;*/
    z-index: 1;
}
#close-button {
	display:block;
	font-size:13pt;
	position:absolute;
	top:4px;
	right:4px;
	width:20pt;
	height:20pt;
	color:#c3c3c3;
	line-height:17pt;
	text-align:center;
	text-decoration:none;
	vertical-align:baseline;
	cursor:pointer;
	/*background:#ff0000;
	border:2pt solid white;
	-webkit-border-radius:20pt;
	-moz-border-radius:20pt;
	border-radius:20pt;*/
}
.clear{ clear:both;}

.mac #close-button, .iphone #close-button, .ipad #close-button {
	line-height:16pt
}
#form-wrapper {
	display:block;
	padding:10pt;
	text-align:center;
	font-size:10pt
}
.forminner{
	background-color:rgba(0, 0, 0, .8);
	border-color:rgba(255, 255, 255, .1);
	border-style: solid;
	border-width: 1pt;
	position:relative;
	display:block;
	margin:0 auto;
	max-width:750pt; /*580pt*/
	padding-top:10pt;
	padding-right:10pt;
	padding-bottom:8pt;
	padding-left:10pt;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:5pt;
}

@media (max-width:906px) {
#form {
max-width:406pt
}
}
@media only screen and (max-width: 800px) {
.popumbox {
 display:none;
 left:20px!important;
 padding-top:20px!important;
 width:calc(100% - 40px);
}
#form-image {
 display:block;
 margin:0 auto;
 background:url(image-placeholder3.png) no-repeat top center;
}
.leadbox-content-wrapper {
 display: block;
 margin: 0 auto;
}
}
@media (max-width:600px) {
#form-image {
 max-width:90%;
 background-size:auto 100%;
}
.freestamp {
 top:-100px;
 left:auto;
 right:-10px;
}
#form-title{ font-size:22px;}
.submit-button { font-size: 13pt; width: auto; padding: 8px 10px;}

}

@media(max-width:390px) {
#form-title{ font-size: 15px;}
.forminner h3{ font-size: 28px; margin: 0 0 14px;}
.form-title-in{ font-size: 16px;}
.submit-button{ font-size: 11pt; padding: 8px 6px;}
}










